@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gidole", Gidole, monospace;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #38b6ff;
	background-position: center;
	background-size: cover;
}

.title{
	color: white;
	padding: 100px 0 0;
	text-align: center;
}

h1{
	padding: 10px 0;
}

.logo{
	text-align: center;
	padding: 90px 0 0;
}

.logo_div{
	text-align: center;
}

.contact{
	color: white;
	text-align: center;
	margin: 60px 0 0;
}

.email{
	text-decoration: none;
	color: white;
}